@tailwind base;
/* Write your global styles here, in PostCSS syntax */
body {
    background-color: #000;

}
.fuzestroke {
      text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}
@tailwind components;
@tailwind utilities